<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chess Game</title>
    <link rel="stylesheet" type="text/css" href="/static/mainManuStyle.css">
</head>
<body>
  <div class="container">
    <h1>Chess Game</h1>
    <div class="options">
      <button id="sp" class="single-player">Single Player</button>
      <button id="mp" class="multiplayer">Multiplayer</button>
    </div>
  </div>
<script src="/static/mainManuScript.js" defer></script>

</body>
</html>
